<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <servlet>
        <servlet-name>Proses</servlet-name>
        <servlet-class>controllers.ControllerProses</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Proses</servlet-name>
        <url-pattern>/proses</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Result</servlet-name>
        <servlet-class>controllers.ControllerResult</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Result</servlet-name>
        <url-pattern>/result</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>NumberFilter</filter-name>
        <filter-class>filters.NumberFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>NumberFilter</filter-name>
        <url-pattern>/proses</url-pattern>
    </filter-mapping>

</web-app>
